{% extends 'base.html' %}

{% block content %}

<div class="post">
    <div class="card mb-3">   
        {% if produto.foto %}
        <img src="{{ produto.foto.url }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ prod.nome }}</h5>
            <p class="card-text">{{ prod.descricao|linebreaksbr }}</p>
            <p class="card-text">Quantidade: {{ prod.quantidade }}</p>
            <p class="card-text">Valor: R$ {{ prod.valor }}</p>
            {% if prod.compra_data %}
            <div class="date">
                <p class="card-text"><small class="text-muted">{{ prod.compra_data }}</small></p>
            </div>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
    <a class="btn btn-warning" href="{% url 'produto_editar' pk=prod.pk %}">Editar<span
            class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
</div>
{% endblock %}