{% extends 'base.html' %}

{% block content %}

<div class="post">
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'produto_editar' pk=prod.pk %}">Editar<span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}

    <h2>{{ prod.nome }}</h2>
    <p>Descrição: {{ prod.descricao|linebreaksbr }}</p>
    <p>Quantidade: {{ prod.quantidade }}</p>
    <p>Valor: R$ {{ prod.valor }}</p>
    {% if prod.compra_data %}
    <div class="date">
        {{ prod.compra_data }}
    </div>

    {% endif %}
</div>
{% endblock %}
